h3 {
  margin-top: 10px;
}

#text-input {
  width: 250px;
  font-size: 14px;
}

.image-div {
  margin-top: 10px;
}

/* .result-img {
  background-image: url("https://d1uumvm880lnxp.cloudfront.net/vaf.png");
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center center;
} */

.upload-button{
  border: 1px solid #666666;
  outline: none;
  margin-top: 10px;
}